<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link href="{{STATIC_URL}}/favicon.ico" rel="shortcut icon" type="image/png">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">
        <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="{% static 'turbolinks/turbolinks.js'%}"></script>
        <title>{% if title %}{{ title }} | lukespademan{% else %}lukespademan.com{% endif %}</title>
    </head>
	<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="{% url 'home:index' %}">lukespademan.com</a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
									{% for link in nav_links %}
									<li class="nav-item{% if link.href == request.path %} active {% endif %}">
											<a class="nav-link" href="{{ link.href }}">{{ link.text }}{% if link.href == request.path %}{% endif %}</a>
									</li>
									{% endfor %}
							</ul>
							<!--search bar-->

							<form action="/search/" class="form-inline my-2 my-lg-0" method="get">
									<input aria-label="Search" class="form-control mr-sm-2" name="q" placeholder="Search Blog" type="search"> <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
							</form>

							<ul class="navbar-nav justify-content-end">
									{% if can_post %}
									<div class="form-inline my-2 my-lg-0">
											<a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'blog:post_new' %}" style="margin-left:4px;">New Post</a>
									</div>
									{% endif %} {% if request.user.username %}
									<li class="nav-item">
											<a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
									</li>
									{% else %}
									<li class="nav-item">
											<a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
									</li>
									{% endif %} {% if request.user.is_staff == True %}
									<li class="nav-item">
											<a class="nav-link" href="/admin/">Admin</a>
									</li>
									{% endif %}
							</ul>
					</div>
			</nav>

			<br>

			<div class="container-fluid" style="margin-bottom: 8px;">
					{% block content %} {% endblock %}
					<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
					<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
					<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
					<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
			</div>
	</body>
</html>
