<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% load markdownify %} {% load bleach_tags %} {% block content %}
    <h1>Welcome</h1>

    <p>{{ welcome_msg | markdown | safe | bleach }}</p>
    {% if posts %}
    <h1>Recent Posts</h1>

    <div class="container-fluid">
        <div class="row">
            {% for row in posts %} {% if row %} {% for post in row %}
            <div class="{% if row|length == 2 %}col-sm-6{% else %}col-sm-12{% endif %}" style="margin-bottom: 8px;">
                {% if row|length == 1 %} {% with long=1 %} {% include 'blog/post_preview.html' %} {% endwith %} {% else %} {% include 'blog/post_preview.html' %} {% endif %}
            </div>
            {% endfor %} {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %} {% endblock %}
</body>
</html>
