<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %}
    <h1>Contact</h1>

    <form action="" method="post">
        {% csrf_token %} {{ form.as_p }} <input class="btn btn-primary" type="submit" value="Send message">
    </form>
    {% endblock %}
</body>
</html>
