<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %}
    <h1>Thankyou!</h1>

    <p>You message has been sent to out webmaster.</p>
    {% endblock %}
</body>
</html>
