<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %} {% for post in posts %}
    <br>
    {% include 'blog/post.html' %} {% endfor %} {% endblock %}
</body>
</html>
