<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% load gravatar %} {% block content %} {% with large=True %}{% include 'blog/post.html' %}{% endwith %} {% endblock %}
</body>
</html>
