<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %}
    <h1>New post</h1>

    <form class="post-form" method="post">
        {% csrf_token %} {{ form.as_p }} <button class="btn btn-primary" type="submit">Save</button>
    </form>
    {% endblock %}
</body>
</html>
