{% extends 'home/base.html' %}

{% block content %}
<h1>Happy Birthday Fin</h1>
<p>I hope you have a great day.<br>Luke</p>
<img src="https://media3.giphy.com/media/SUA9E0GcSyhCU/giphy.gif">
{% endblock %}
