{% extends 'home/base.html' %}

{% block content %}
<div class="container-fluid">
	<br>
	{% load gravatar %}
	<div class="wrapper">
		<div class="user-info">
			<div class="row">
					<div class="col-sm-2">
						<img src="{% gravatar_url userprof.email 300 %}" class="rounded-circle img-fluid" />
					</div>
					<div class="col-sm-10">
						{% if userprof.first_name %}{{ userprof.first_name }} {% if userprof.last_name %}{{ userprof.last_name }}{% endif %}<br>{% endif %}
						{% if userprof.username %}@{{ userprof.username }}<br>{% endif %}
						{% if userprof.last_login %}Last Seen: {{ userprof.last_login }}<br>{% endif %}
						{% if userprof.bio %}<blockquote><p>{{ userprof.bio }}</p></blockquote>{% endif %}
					</div>
			</div>
		</div>
		<div class="user-blogs">
		{% for post in posts %}
			<br>
			{% include 'blog/post.html' %}
	{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
