<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %}
    <h1>Error. 404</h1>

    <p>{{ request.path }} is not found on this server. Do you want to go <a href="{%" url="home:index'">back</a>?</p>
    {% endblock %}
</body>
</html>
