<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% load markdownify %} {% load bleach_tags %} {% block content %} {% for c in content %}
    <h1>{{ c.heading_text }}</h1>

    <p>{{ c.body_text | markdown | safe | bleach }}</p>
    {% endfor %} {% endblock %}
</body>
</html>
