<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    {% extends 'home/base.html' %} {% block content %}
    <h1>Where to find me</h1>
    {% if links %} {% for link in links %} {% endfor %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Webite</th>
                <th>Link</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ link.link_website }}</td>
                <td>
                    <a href="{{ link.link_href }}">{{ link.link_text }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Sorry. No links here yet :(</p>
    {% endif %} {% endblock %}
</body>
</html>
